/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FF8C00;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.introducao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.imagem-bolo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.introducao p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 15px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  color: #FF8C00;
  margin-bottom: 15px;
}

.ingredientes ul,
.preparo ol {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.ingredientes li,
.preparo li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
